> test1 데이터셋

In [1]:
# 데이터 불러오기 & 전처리
import pandas as pd
label = pd.read_csv("c:/vscode/미니프로젝트/2_분류_프로젝트/data/test1_label.csv")

df = label
df = df.drop(['survival_time', 'amount_spent'], axis=1)
df = df.sort_values('acc_id')
df

       acc_id  survive
9765        7        0
15276      15        1
19433      16        0
13432      18        1
17356      19        1
...       ...      ...
3008   130450        1
17729  130454        1
17247  130465        0
11800  130466        0
12492  130474        0

[20000 rows x 2 columns]

In [2]:
# 유저 일별 결제 금액
payment = pd.read_csv("c:/vscode/미니프로젝트/2_분류_프로젝트/data/test1_payment.csv")
# 캐릭터 간 일별 거래 이력
trade = pd.read_csv("c:/vscode/미니프로젝트/2_분류_프로젝트/data/test1_trade.csv")
trade1 = trade.drop(['time','server','source_char_id','target_char_id','item_type','item_amount', 'item_price'], axis = 1)
# 날짜, 유저 아이디 기준으로 거래횟수(사고/팔고) 구하기
trade_sell = trade1.groupby(['day','source_acc_id'])['type'].count().reset_index()
trade_buy = trade1.groupby(['day','target_acc_id'])['type'].count().reset_index()
trade_sell = trade_sell.rename(columns={'source_acc_id':'acc_id', 'type':'sell_cnt'})
trade_buy = trade_buy.rename(columns={'target_acc_id':'acc_id', 'type':'buy_cnt'})

# 캐릭터 일일 활동
activity = pd.read_csv("c:/vscode/미니프로젝트/2_분류_프로젝트/data/test1_activity.csv")
activity1 = activity.drop(['char_id', 'server'], axis = 1)

# 캐릭터 일일 전투 활동
combat = pd.read_csv("c:/vscode/미니프로젝트/2_분류_프로젝트/data/test1_combat.csv")
combat1 = combat.drop(['char_id', 'server', 'class'], axis = 1)

# 캐릭터 소속 혈맹 구성원들의 일일 전투 정보
pledge = pd.read_csv("c:/vscode/미니프로젝트/2_분류_프로젝트/data/test1_pledge.csv")
pledge1 = pledge.drop(['char_id', 'server', 'pledge_id'], axis = 1)

In [3]:
df1 = payment.merge(trade_sell, on=['day', 'acc_id'], how='outer')
df1 = df1.merge(trade_buy, on=['day', 'acc_id'], how='outer')
df1 = df1.merge(activity1, on=['day', 'acc_id'], how='outer')
df1 = df1.merge(combat1, on=['day', 'acc_id'], how='outer')
df1 = df1.merge(pledge1, on=['day', 'acc_id'], how='outer')
df1 = df1.merge(df, on='acc_id', how='inner').sort_values(by=['day', 'acc_id'])
df1

,day,acc_id,amount_spent,sell_cnt,buy_cnt,playtime,npc_kill,solo_exp,party_exp,quest_exp,...,combat_char_cnt,pledge_combat_cnt,random_attacker_cnt_y,random_defender_cnt_y,same_pledge_cnt_y,temp_cnt_y,etc_cnt_y,combat_play_time,non_combat_play_time,survive
15324370,1,15,NaN,NaN,NaN,0.517285,0.000000,0.000000,0.0,0.0,...,0.216536,0.0,0.0,0.429188,0.0,0.000000,0.000000,1.776501,0.000000,1
15324371,1,15,NaN,NaN,NaN,0.517285,0.000000,0.000000,0.0,0.0,...,0.324804,0.0,0.0,1.573689,0.0,0.593298,0.021235,1.387887,0.000000,1
15324372,1,15,NaN,NaN,NaN,0.517285,0.000000,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,1.117422,1
15324373,1,15,NaN,NaN,NaN,0.517285,0.000000,0.000000,0.0,0.0,...,0.216536,0.0,0.0,0.429188,0.0,0.000000,0.000000,1.776501,0.000000,1
15324374,1,15,NaN,NaN,NaN,0.517285,0.000000,0.000000,0.0,0.0,...,0.324804,0.0,0.0,1.573689,0.0,0.593298,0.021235,1.387887,0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3746441,28,130474,NaN,NaN,NaN,1.355239,0.992192,0.320965,0.0,0.0,...,0.180447,0.0,0.0,0.357657,0.0,0.000000,0.000000,0.680739,0.000000,0
3746442,28,130474,NaN,NaN,NaN,1.355239,0.992192,0.320965,0.0,0.0,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.697882,0
3746443,28,130474,NaN,NaN,NaN,1.355239,0.992192,0.320965,0.0,0.0,...,0.180447,0.0,0.0,0.357657,0.0,0.000000,0.000000,0.680739,0.000000,0
3746444,28,130474,NaN,NaN,NaN,1.355239,0.992192,0.320965,0.0,0.0,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.697882,0
3746445,28,130474,NaN,NaN,NaN,1.355239,0.992192,0.320965,0.0,0.0,...,0.180447,0.0,0.0,0.357657,0.0,0.000000,0.000000,0.680739,0.000000,0

In [10]:
df1['acc_id'].nunique()

20000

In [4]:
# nan값 0으로 처리
df1.fillna(0, inplace=True)
df = df1

In [5]:
# 변수 지정
train_cols = df.columns[2:36]
X = df[train_cols]
y = df['survive']

# 언더샘플링
from imblearn.under_sampling import RandomUnderSampler
X_sample, y_sample = RandomUnderSampler(random_state=0).fit_resample(X,y)
X_samp = pd.DataFrame(data=X_sample, columns=train_cols)
y_samp = pd.DataFrame(data=y_sample, columns=['survive'])
df_samp = pd.concat([X_samp, y_samp], axis=1)

# 변수 재지정
X=df_samp[train_cols]
y=df_samp["survive"]

# 학습용, 검증용 구분
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(
#     X, y, test_size=0.2, stratify=y, random_state=0)

# 스케일링
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)
# X_train = scaler.transform(X_train)
# X_test = scaler.transform(X_test)

> extratree

In [ ]:
import joblib

# 저장된 모델 불러오기
model = joblib.load('C:/vscode/미니프로젝트/2_분류_프로젝트/날짜_넣은_데이터_분석/extratree_model.joblib')

In [17]:
# 불러온 모델 사용하기
# print("학습용:", model.score(X_train, y_train))
# print("검증용:", model.score(X_test, y_test))
print("점수:", model.score(X, y))

점수: 0.4842614519153496

> xgb

In [1]:
import joblib

# 저장된 모델 불러오기
model = joblib.load('C:/vscode/미니프로젝트/2_분류_프로젝트/날짜_넣은_데이터_분석/xgb_model.joblib')

In [8]:
print("점수:", model.score(X, y))

점수: 0.5152154911790594

> mlp

In [6]:
import joblib

# 저장된 모델 불러오기
model = joblib.load('C:/vscode/미니프로젝트/2_분류_프로젝트/날짜_넣은_데이터_분석/mlp_model.joblib')

print("점수:", model.score(X, y))

점수: 0.5419174160958249

> logistic regression

In [7]:
import joblib

# 저장된 모델 불러오기
model = joblib.load('C:/vscode/미니프로젝트/2_분류_프로젝트/날짜_넣은_데이터_분석/lr_model.joblib')

print("점수:", model.score(X, y))

점수: 0.41360146951896215

> decision tree

In [9]:
import joblib

# 저장된 모델 불러오기
model = joblib.load('C:/vscode/미니프로젝트/2_분류_프로젝트/날짜_넣은_데이터_분석/dt_model.joblib')

print("점수:", model.score(X, y))

점수: 0.6409034480119399

> random forest

In [8]:
import joblib

# 저장된 모델 불러오기
model = joblib.load('C:/vscode/미니프로젝트/2_분류_프로젝트/날짜_넣은_데이터_분석/rf_model.joblib')

print("점수:", model.score(X, y))

점수: 0.4999808656385136